<h1>STRINGS IN PYTHON</h1>

In [11]:
# Define a string
str1 = "Hello, World!"

# Print the string
print(str1)

# Length of the string
str_length = len(str1)
print("Length of the string:", str_length)

# Accessing individual characters
first_char = str1[0]
print("First character of the string:", first_char)

# Slicing the string
s = str1[7:12]
print("Substring:", s)

# Concatenation
str2 = " Have a nice day!"
new_string = str1 + str2
print("Concatenated string:", new_string)

# String methods
uppercase_string = str1.upper()
print("Uppercase string:", uppercase_string)

lowercase_string = str1.lower()
print("Lowercase string:", lowercase_string)

Hello, World!
Length of the string: 13
First character of the string: H
Substring: World
Concatenated string: Hello, World! Have a nice day!
Uppercase string: HELLO, WORLD!
Lowercase string: hello, world!

<h1>DATA TYPES  IN PYTHON</h1>

In [12]:
# Integer
i = 5
print("Integer:", i)

# Float
f = 9.8
print("Float:", f)

# String
str1 = "Hello, World!"
print("String:", str1)

# Boolean
bt = True
print("Boolean:", bt)
bf = False
print("Boolean:", bf)

# List
L = [7, 47, 42, 15, 5]
print("List:", L)

# Tuple
t = (6, 7, 8, 9, 10)
print("Tuple:", t)

# Dictionary
d = {'Name': 'Babar', 'Number': 56, 'Age': 29}
print("Dictionary:", d)

# Set
s = {1, 2, 3, 4, 5}
print("Set:", s)

Integer: 5
Float: 9.8
String: Hello, World!
Boolean: True
Boolean: False
List: [7, 47, 42, 15, 5]
Tuple: (6, 7, 8, 9, 10)
Dictionary: {'Name': 'Babar', 'Number': 56, 'Age': 29}
Set: {1, 2, 3, 4, 5}

<h1>LOOPS IN PYTHON</h1>

In [13]:
# For loop
print("For loop:")
for i in range(5):  # Looping over a range of numbers
    print(i)

# While loop
print("\nWhile loop:")
count = 0
while count < 5:
    print(count)
    count += 1

# Nested loops
print("\nNested loops:")
for i in range(3):
    for j in range(2):
        print(f"({i}, {j})")

For loop:
0
1
2
3
4

While loop:
0
1
2
3
4

Nested loops:
(0, 0)
(0, 1)
(1, 0)
(1, 1)
(2, 0)
(2, 1)

<h1>CONDITIONAL STATEMENT IN PYTHON</h1>

In [15]:
# If statement
i = 7
if i < 9:
    print("i is less than 9")

# If-else statement
j = 15
if j % 2 == 0:
    print("j is even")
else:
    print("j is odd")

# If-elif-else statement
k = 42
if k < 40:
    print("k is less than 40")
elif k == 40:
    print("k is equal to 40")
else:
    print("k is greater than 40")

# Nested if statements
a = 47
if a > 5:
    if a < 10:
        print("a is between 5 and 10")
    else:
        print("a is greater than or equal to 10")
else:
    print("a is less than or equal to 5")

i is less than 9
j is odd
k is greater than 40
a is greater than or equal to 10

<h1>FUNCTIONS IN PYTHON</h1>

In [16]:
# Function without Parameters:
def greet():
    print("Hello, world!")

greet()  

# Function with Parameters:
def greet(name):
    print("Hello,", name)

greet("Rayyan")

# Function with Default Parameters:
def greet(name="user"):
    print("Hello,", name)

greet()  
greet("Rayyan") 

#Function with Return Value:
def add(i, j):
    return i + j

answer = add(7, 9)
print(answer) 

#Recursive Function:
def factorial(a):
    if a == 0:
        return 1
    else:
        return a * factorial(a - 1)

print(factorial(6))

Hello, world!
Hello, Rayyan
Hello, user
Hello, Rayyan
16
720

<h1>CLASSES IN PYTHON</h1>

In [18]:
# Simple Class:
class Class1:
    def __init__(self, name):
        self.name = name

    def greet(self):
        print("Hello,", self.name)

Object1 = Class1("Rayyan")
Object1.greet() 

# Class with Class Variable and Instance Variable:
class Dog:
    species = "Canis"

    def __init__(self, name):
        self.name = name

dog1 = Dog("Joye")
dog2 = Dog("Kassie")

print(dog1.name)  
print(dog2.name) 
print(dog1.species) 
print(dog2.species) 

# Class with Private Members:
class Class2:
    def __init__(self):
        self.__private_var = 7

    def get_private_var(self):
        return self.__private_var

Object2 = Class2()
print(Object2.get_private_var())

Hello, Rayyan
Joye
Kassie
Canis
Canis
7

<h1>LIBRARIES IN PYTHON</h1>

<h3>NumPy:</h3>

**What is numpy?**

NumPy is a fundamental package for numerical computing in Python. It provides support for arrays, matrices, and mathematical functions to operate on these arrays. NumPy is widely used in scientific computing, data analysis, and machine learning due to its efficiency and convenience.

**KEY FEATURES:**

1. **Multi-dimensional arrays:** NumPy provides an array object that represents a grid of values, which can be of any dimension. These arrays are fast and efficient for numerical operations.
2. **Element-wise operations:** NumPy allows performing mathematical operations on arrays element-wise, which makes it convenient for vectorized computations.
3. **Broadcasting:** NumPy can handle operations between arrays of different shapes and sizes through broadcasting, which automatically expands smaller arrays to match the shape of larger arrays.
4. **Linear algebra operations:** NumPy provides a wide range of linear algebra functions, such as matrix multiplication, matrix decomposition, eigenvalue computation, etc.
5. **Random number generation:** NumPy includes a powerful random number generation module for generating random data or sampling from various probability distributions.
6. **Integration with other libraries:** NumPy integrates well with other libraries and tools in the Python ecosystem, such as SciPy, Matplotlib, and pandas, making it a core component of the scientific computing stack in Python.

Overall, NumPy provides a solid foundation for numerical computing in Python and is an essential library for anyone working with numerical data or mathematical operations in Python.

In [24]:
import numpy as np
arr1 = np.array([7, 1, 2, 4, 5])
print(arr1)

# Functions in NumPy
arr2 = np.zeros(3)
print(arr2)
arr2 = np.ones(3)
print(arr2)
empty_arr2 = np.empty(3)
empty_arr2[0] = 3
empty_arr2[1] = 6
empty_arr2[2] = 9
print(empty_arr2)
print(np.sort(arr1))
i = np.array([10, 20, 30, 40])
j = np.array([50, 60, 70, 80])
print(np.concatenate((i, j)))

[7 1 2 4 5]
[0. 0. 0.]
[1. 1. 1.]
[3. 6. 9.]
[1 2 4 5 7]
[10 20 30 40 50 60 70 80]

<h3>pandas:</h3>

**What is pandas?**

Pandas is a powerful and flexible open-source data analysis and manipulation library for Python. It provides high-performance, easy-to-use data structures and data analysis tools for working with structured data, such as tabular data, time series, and more.

**Key Features:**

1. **DataFrame:** Pandas introduces the DataFrame, a two-dimensional labeled data structure with columns of potentially different types. It is similar to a spreadsheet or SQL table, and it is the primary data structure for Pandas. DataFrames can be easily created from various data sources like CSV files, Excel sheets, SQL databases, or Python data structures.
2. **Series:** Pandas also introduces the Series data structure, which is a one-dimensional labeled array capable of holding any data type. Series are the building blocks of DataFrames and can be thought of as a single column of a DataFrame.
3. **Data manipulation:** Pandas provides a rich set of functions and methods for manipulating data, including data cleaning, filtering, sorting, merging, reshaping, and aggregating. These operations allow users to perform complex data transformations with ease.
4. **Missing data handling:** Pandas offers robust support for handling missing or incomplete data, providing functions for detecting, removing, or filling missing values in datasets.
5. **Time series data:** Pandas includes powerful tools for working with time series data, including date/time indexing, resampling, and time zone handling.
6. **Data visualization:** While Pandas itself does not have built-in visualization capabilities, it integrates seamlessly with other Python libraries for data visualization, such as Matplotlib and Seaborn, allowing users to create informative plots and graphs directly from Pandas data structures.
7. **Integration with other libraries:** Pandas integrates well with other Python libraries and tools commonly used in data analysis and machine learning workflows, such as NumPy, Scikit-learn, and Jupyter notebooks.

Overall, Pandas is widely used by data scientists, analysts, and developers for data exploration, cleaning, preprocessing, and analysis tasks, making it an essential tool in the Python ecosystem for working with structured data.

<h2>HANDLING DATASETS USING pandas</h2>

<h3>Dataset 1:</h3>

In [25]:
import pandas as pd
# Reading Data from CSV File:
df = pd.read_csv('salaries_cyber.csv')
print(df.head())

   work_year experience_level employment_type               job_title  salary  \
0       2022               EN              FT   Cyber Program Manager   63000
1       2022               MI              FT        Security Analyst   95000
2       2022               MI              FT        Security Analyst   70000
3       2022               MI              FT     IT Security Analyst  250000
4       2022               EN              CT  Cyber Security Analyst  120000

  salary_currency  salary_in_usd employee_residence  remote_ratio  \
0             USD          63000                 US            50
1             USD          95000                 US             0
2             USD          70000                 US             0
3             BRL          48853                 BR            50
4             USD         120000                 BW           100

  company_location company_size
0               US            S
1               US            M
2               US            M
3               BR            L
4               BW            S

In [26]:
print(df.tail())

      work_year experience_level employment_type  \
1242       2020               MI              FT
1243       2021               SE              FT
1244       2021               SE              FT
1245       2021               MI              FT
1246       2021               MI              FT

                         job_title  salary salary_currency  salary_in_usd  \
1242        Cyber Security Analyst  140000             AUD          96422
1243  Information Security Manager   60000             GBP          82528
1244  Penetration Testing Engineer  126000             USD         126000
1245  Information Security Analyst   42000             GBP          57769
1246   Threat Intelligence Analyst   66310             USD          66310

     employee_residence  remote_ratio company_location company_size
1242                 AU            50               AU            M
1243                 GB            50               GB            L
1244                 US           100               US            L
1245                 GB           100               GB            L
1246                 US             0               US            L

In [27]:
# Basic DataFrame Operations:
print(df.shape)
print(df.columns)
print(df.describe())
print(df['work_year'])

(1247, 11)
Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')
         work_year        salary  salary_in_usd  remote_ratio
count  1247.000000  1.247000e+03    1247.000000   1247.000000
mean   2021.316760  5.608525e+05  120278.218925     71.491580
std       0.715501  1.415944e+07   70291.394942     39.346851
min    2020.000000  1.740000e+03    2000.000000      0.000000
25%    2021.000000  7.975450e+04   74594.500000     50.000000
50%    2021.000000  1.200000e+05  110000.000000    100.000000
75%    2022.000000  1.600800e+05  150000.000000    100.000000
max    2022.000000  5.000000e+08  910991.000000    100.000000
0       2022
1       2022
2       2022
3       2022
4       2022
        ...
1242    2020
1243    2021
1244    2021
1245    2021
1246    2021
Name: work_year, Length: 1247, dtype: int64

<h3>Dataset 2:</h3>

In [30]:
# Reading Data from CSV File:
df1 = pd.read_csv('Country-Code-Mapping.csv')
print(df1.head())

   Value           Label
0      4     Afghanistan
1      6         Albania
2      7         Algeria
3      8  American Samoa
4      9         Andorra

In [31]:
print(df1.tail())

     Value       Label
147    171  Uzbekistan
148    172   Venezuela
149    173     Vietnam
150    174       Yemen
151    175    Zimbabwe

In [32]:
# Basic DataFrame Operations:
print(df1.shape)
print(df1.columns)
print(df1.describe())
print(df1['Label'])

(152, 2)
Index(['Value', 'Label'], dtype='object')
            Value
count  152.000000
mean    88.605263
std     50.131504
min      4.000000
25%     44.750000
50%     87.500000
75%    132.500000
max    175.000000
0         Afghanistan
1             Albania
2             Algeria
3      American Samoa
4             Andorra
            ...
147        Uzbekistan
148         Venezuela
149           Vietnam
150             Yemen
151          Zimbabwe
Name: Label, Length: 152, dtype: object